.layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nd-black);
  background-image: radial-gradient(circle, #1a1a1a 1px, transparent 1px);
  background-size: 16px 16px;
}
